#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0em;
  text-align: center;
  font-size: 1.3em;
  --border-1: 2px;
  --border-2: 1px;
  --margin-1: 0.3em;
}

h2 {
  font-size: 1.2em;
}

main-screen {
  display: block;
  width: 100vw;
}

nav-bar {
  display: flex;
  flex-direction: column;
  background-color: brown;
}
nav-bar > * {
  background-color: blue;
  padding: 10px 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

modal-popup {
  background-color: var(--bg-color);
  display: block;
  flex-direction: column;
  border: 2px solid var(--sub-bg-color);
  margin: 1em;
  border-radius: 0.3em;
}
modal-popup > div.section {
  margin: 0.2em;
}
modal-popup > div.x-bar {
  position: relative;
  background-color: var(--sub-bg-color);
  content: "h";
  height: 1.6em;
}
x-button {
  cursor: default;
  display: inline-block;
  position: absolute;
  color: var(--color-1);
  right: 0.2em;
  top: 0.2em;
  background-color: red;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  border-radius: 1.6em;
}
modal-popup > * + * {
  margin-bottom: 10px;
}

warning-text {
  color: red;
}

todos-list {
  display: block;
  margin: 0 0.3em;
  margin-bottom: 0.3em;
}
todos-list > *:first-child {
  /* border-top-left-radius: 0.5em; */
  /* border-top-right-radius: 0.5em; */
  border-top: var(--border-1) solid var(--sub-bg-color);
  border-bottom: var(--border-1) solid var(--sub-bg-color);
}
todos-list > *:not(:first-child) {
  border-bottom: var(--border-1) solid var(--sub-bg-color);
  /* border-left: var(--todo-border-width) solid var(--todo-border-color); */
  /* border-right: var(--todo-border-width) solid var(--todo-border-color); */
}

todo-item {
  line-height: 2em;
  background-color: inherit;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
  transition: 0.1s;
}
todo-item.done {
  background-color: var(--done-color);
  text-decoration: line-through;
  opacity: 0.6;
  text-decoration-color: gray;
}
todo-item.normal {
  background-color: var(--normal-color);
}
todo-item.urgent {
  background-color: var(--urgent-color);
}

todo-item > div:first-child {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}
check-circle {
  width: 0.8em;
  height: 0.8em;
  border-radius: 1em;
  border: 2px solid dodgerblue;
  background-color: var(--bg-color);
}
.green {
  background-color: pink;
}
todo-item > div:not(:first-child) {
  padding: 0 0.5em;
  border-left: 2px dashed var(--sub-bg-color);
}
todo-item button {
  padding: 0;
  margin: 0 0.3em;
  border: none;
  font-style: italic;
  color: var(--sub-color);
  background-color: unset;
}

confirmation-outer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

confirmation-inner {
  padding: 0.3em;
  display: inline-block;
  background-color: var(--bg-color);
  border-radius: 0.2em;
}

button {
  font-size: inherit;
  padding: 0.3em;
  margin: 0.2em;
  border: none;
  color: var(--color-1);
  border-radius: 0.3em;
  background-color: dodgerblue;
}

input {
  color: inherit;
  font-size: inherit;
  background: none;
  padding: 0.2em;
  border-radius: 0.2em;
  width: calc(100% - 1em);
  border: 1px solid var(--border-color);
}

sparkly-widget {
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

sparkly-widget > p {
  font-size: 2em;
}

sparkly-widget > img {
  height: 10em;
  animation-name: jump-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jump-ani {
  50% {
    transform: translate(0, -1em);
  }
  100% {
    transform: translate(0, 0);
  }
}

star-graphic {
  background: no-repeat url("assets/star.png");
  background-size: 100%;
  opacity: 0.8;
  width: 0.1em;
  height: 0.1em;
  position: absolute;
  left: var(--left);
  top: var(--top);
  animation: sparkle 3s;
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
}

@keyframes sparkle {
  25% {
    transform: scale(15);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

progress-container {
  display: block;
  margin: 0 1em 1em 1em;
  border: 2px solid var(--sub-bg-color);
  position: relative;
  border-radius: 0.3em;
}
progress-container > progress-dash {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: var(--width);
  border-right: 2px dashed var(--sub-bg-color);
}
progress-bar {
  display: block;
  height: 1em;
  width: var(--progress);
  background-color: darkcyan;
  transition: 0.4s;
  border-radius: 0.3em;
}

bool-container {
  display: block;
  margin: var(--margin-1);
  margin-top: 0.5em;
  position: relative;
}
bool-container > button {
  margin: 0;
  padding: 0.3em;
  transition: 0.4s;
  background-color: unset;
  color: unset;
  border-radius: unset;
}
bool-container > button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
bool-container > button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
bool-container > button.normal-selected {
  color: var(--color-1);
  background-color: var(--bg-color-1);
  border: 1px solid var(--bg-color-1);
}
bool-container > button.normal-not-selected {
  border: 1px solid var(--sub-color);
  transform: translate(0, -0.3em);
  box-shadow: 0 0.3em var(--sub-bg-color);
}
bool-container > button.urgent-selected {
  color: var(--color-1);
  background-color: var(--urgent-color);
  border: 1px solid var(--urgent-color);
}
bool-container > button.urgent-not-selected {
  border: 1px solid var(--sub-color);
  transform: translate(0, -0.3em);
  box-shadow: 0 0.3em var(--sub-bg-color);
}
