#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --sub-text-color-1: #555;
  --color-1: #999;
  --confirmation-color-1: #ddd;
  --todo-border-width: 2px;
  --todo-border-color: gray;
}

h2 {
  font-size: 1.2em;
}

main-screen {
  display: flex;
}

nav-bar {
  display: flex;
  flex-direction: column;
  background-color: brown;
}

nav-bar > * {
  background-color: blue;
  padding: 10px 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

modal-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

warning-text {
  color: red;
}

modal-popup > * + * {
  margin-bottom: 10px;
}

todos-list {
  display: block;
  margin-bottom: 10px;
}

todos-list > *:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border: var(--todo-border-width) solid var(--todo-border-color);
}

todos-list > *:last-child {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

todos-list > *:not(:first-child) {
  border-bottom: var(--todo-border-width) solid var(--todo-border-color);
  border-left: var(--todo-border-width) solid var(--todo-border-color);
  border-right: var(--todo-border-width) solid var(--todo-border-color);
}

todo-item {
  line-height: 2em;
  background-color: inherit;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

todo-item > div:first-child {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

check-circle {
  width: 0.8em;
  height: 0.8em;
  border-radius: 1em;
  border: 1px solid gray;
}

.green {
  background-color: yellowgreen;
}

todo-item > div:not(:first-child) {
  padding: 0 0.5em;
  border-left: 2px dashed #bbb;
}

todo-item button {
  padding: 0;
  border: none;
  font-style: italic;
  color: #555;
}

.done {
  text-decoration: line-through;
  text-decoration-color: gray;
  color: gray;
}

confirmation-outer {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

confirmation-inner {
  padding: 10px;
  display: inline-block;
  background-color: var(--confirmation-color-1);
  border-radius: 2px;
}

button {
  font-size: inherit;
  padding: 3px;
  margin: 3px;
  border: none;
  color: dodgerblue;
  background: none;
}

input {
  font-size: inherit;
  background: none;
  padding: 10px;
}

input:focus {
  border: 1px solid blue;
}

sparkly-widget {
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

sparkly-widget > p {
  font-size: 2em;
}

sparkly-widget > img {
  height: 10em;
  animation-name: jump-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jump-ani {
  50% {
    transform: translate(0, -1em);
  }
  100% {
    transform: translate(0, 0);
  }
}

star-graphic {
  background: no-repeat url("assets/star.png");
  background-size: 100%;
  opacity: 0.8;
  width: 0.1em;
  height: 0.1em;
  position: absolute;
  left: var(--left);
  top: var(--top);
  animation: sparkle 3s;
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
}

@keyframes sparkle {
  25% {
    transform: scale(15);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

progress-container {
  display: block;
  margin: 0 1em 1em 1em;
  border: 2px solid #aaa;
  position: relative;
  border-radius: 0.3em;
}

progress-container > progress-dash {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: var(--width);
  border-right: 2px dashed #aaa;
}

progress-bar {
  display: block;
  height: 1em;
  width: var(--progress);
  background-color: yellowgreen;
  transition: 0.4s;
  border-radius: 0.3em;
}
